{% extends "/base/base_layout.jinja2" %}
{% block addition_headers %}
{% endblock%}
{% block content %}

  <div id="wrapper">
    <div id="login">
      <h2>Apaimanee MOBA</h2>
    </div>
    <div id="box_right">
      <div id="buttonGame">
        <a href="/games/create_room"><button type="button" class="Button"> CREATE GAME </button></a>
        <a href="/home"><button type="button" class="Button"> Refresh Rooms </button></a>
      </div>
    </div>
    <div id="box_left">
      <table >
         <tr>
            <th>ID ROOM</th>
            <th>NAME ROOM</th>
            <th>Players</th>
         </tr>
        {% for room in rooms %}
         <tr>
           <td>{{ room['room_id'] }}</td>
           <td><a href="/games/join_game?room_id={{ room['room_id'] }}">{{ room['room_name'] }}</a></td>
           <td>{{ room['players'] | count }}/10</td>
         </tr>
        {% endfor %}
     </table></div>
</div>
{% endblock %}
