{% extends "/base/base_layout.jinja2" %}
{% block content %}
<div id="wrapper">
  <div id="login">
	  <h2>Create Game</h2>
  <form action='/games/create_room' method="GET">
    Room Name:<br> {{form.room_name}}
    <button type="submit" class="Button"> Create Game </button>
  </form>
</div>
</div>
{% endblock %}
