{% extends "/base/base_layout.jinja2" %}
{% block content %}
<div id="wrapper">
	<div id="login">
		<h2>Room Game</h2>
	</div>
	<div id="div2">
		<div id="buttonGame">
      <form action="/games/room" method="GET">
			<a href="/games/select_hero"><button type="button" class="ButtonStart" data-toggle="modal"> START GAME </button></a>
			<a href="/home"><button type="button" class="ButtonStart"> CANCEL </button></a>
			</form></div>
  </div>

	<div id="div1">
		<table>
		  <tr>
		    <th>TEAM 1</th>
		    <th>TEAM 2</th>
		  </tr>
      {% for i in range(0,5) %}
		  <tr>
        {% if i < team1 | count %}
        <td>{{team1[i]['username']}}</td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}

        {% if i < team2 | count %}
        <td>{{team2[i]['username']}}</td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}

		  </tr>
      {% endfor%}
		</table>
</div>
{% endblock %}
