<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Apaimanee MOBA{% endblock %}</title>
    <link media="screen" href="{{base_uri}}/public/css/style.css" rel="stylesheet" type="text/css" />
    {% block addition_headers %}{% endblock %}
<style>
  body {
      background-color: black;
      background-image: url({{base_uri}}/public/images/apaimanee.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 96% auto;
  }
</style>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
